<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Covid-19</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active" >Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="auth.loggedIn">
          <a class="nav-link" routerLink="/secret"  routerLinkActive="active">Secret Data</a>
        </li>
      </ul>
      <div class="d-flex">

        <input *ngIf="!auth.loggedIn" [(ngModel)]="password" class="form-control me-2" type="password" placeholder="Password">
        <button *ngIf="!auth.loggedIn" (click)="login()" class="btn btn-outline-success" type="submit">Login</button>
        <button *ngIf="auth.loggedIn" (click)="logout()" class="btn btn-outline-success" type="submit">Logout</button>

      </div>
    </div>
  </div>
</nav>
